*{
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
  background: #0c0b0f;
  display: flex;
  width: 100%;
}

canvas{
  margin: 20px;
  border: 10px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
}

#navbar{
  display: flex;
  width: 80%;
  align-items:center ;
  margin-top: 1rem;
}

#navbar h1{
  text-align: center;
  margin-left: auto;
  text-transform: uppercase;

  border: 1px solid rgb(0, 195, 255);
  padding: 12px 20px;
  background: rgba(46, 58, 54, 0.1);
}
#navbar h1 a{
  text-decoration: none;
}
#navbar h1:hover{
  background: rgba(46, 58, 54, 0.8);
  box-shadow: 15px 15px 10px black;
}


#navbar .details{
  text-align: center;
  /* align-items: end; */
  margin-left:auto;
  border: 1px solid rgb(255, 155, 155);
  padding: 5px 20px;
  background: rgba(58, 43, 42, 0.1);
}

#navbar .details.details:hover{
  background: rgba(58, 43, 42,0.8);
  box-shadow: 15px 15px 10px black;
}
